global
  maxconn 4096
# pidfile ~/tmp/haproxy-queue.pid
  daemon

defaults
  mode http
  log global
  option httplog
  option  http-server-close
  option  dontlognull
  option  redispatch
  option  contstats
  retries 3
  backlog 10000
  timeout client          25s
  timeout connect          5s
  timeout server          25s
# timeout tunnel available in ALOHA 5.5 or HAProxy 1.5-dev10 and higher
  timeout tunnel        3600s
  timeout http-keep-alive  1s
  timeout http-request    15s
  timeout queue           30s
  timeout tarpit          60s
  default-server inter 3s rise 2 fall 3
  option forwardfor

frontend ft_web
  bind localhost:2100
  mode http
  maxconn 10000

  option forwardfor
  # Fake connection:close, required in this setup.
  option http-server-close
  option http-pretend-keepalive

  #acl is_socketio path_beg /socket.io
  #use_backend bk_ws if is_socketio

  default_backend bk_web

backend bk_web
  balance roundrobin
  server node-1 127.0.0.1:3000 check
  server node-2 127.0.0.1:3001 check
  server node-3 127.0.0.1:3002 check

listen localhost
    bind :9200
  mode http
  stats uri /