extends layout

block body
    div#wrapper(style="display:none")
        div(ng-controller='AppCtrl')
            include header
            //#page-wrapper
                //.row
                    .col-lg-12
                        h1 {{name}}

            #pageWrapper.margin-top-bottom-20(ng-view)
            .clearfix


            include category/common-widget/message
            include category/common-widget/confirmation-modal


    // jQuery
    script(src='js/lib/jquery/jquery-2.1.4.min.js')

    script(src='js/lib/dataTables/jquery.dataTables.js')
    script(src='js/lib/dataTables/dataTables.bootstrap.js')
    link(rel='stylesheet', href='js/lib/dataTables/dataTables.bootstrap.css')
    link(rel='stylesheet', href='js/lib/dataTables/jquery.dataTables.css')
    script(src='js/lib/angular/angular.js')

    //angular cookies
    script(src='js/lib/angular/angular-cookies.min.js')

    //angular route
    script(src='js/lib/angular/angular-route.min.js')

    //localization JavaScript
    script(src='js/lib/angular-translate.min.js')
    script(src='js/lib/angular-translate-loader-static-files.min.js')

    //Bootstrap
    script(src='sb-admin-2/js/bootstrap.min.js')
    script(src='js/lib/bootstrap/bootstrap-treeview.js')

    // Metis Menu Plugin Js
    script(src='sb-admin-2/js/plugins/metisMenu/metisMenu.min.js')

    //Custom Theme Js
    script(src='sb-admin-2/js/sb-admin-2.js')

    //socket io client
    script(src='js/lib/socket.io.js')

    //q lib
    script(src='js/lib/q.js')

    //script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')

    //flow chart js
    script(src='js/svg_class.js')
    script(src='js/services/mouse_capture_service.js')
    script(src='js/services/dragging_service.js')
    script(src='js/flowchart_viewmodel.js')
    script(src='js/flowchart_directive.js')

    //file upload js
    script(src='js/lib/ng-file-upload-shim.min.js')
    script(src='js/lib/ng-file-upload.min.js')

    //Load custom scripts via RequireJS
    script(src="js/lib/require.js" data-main="js/main")